.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 2rem 2rem 0.75rem 2rem;
}

@media screen and (max-width:800px) {
    .header {
        padding: 0.5rem
    }
    .user-settings {
        gap: 1rem;
    }
}

.scan-qr {
    width: 60px;
}

.header-logo-text {
    font-size: 2rem;
    color: #18b2bb;
    font-weight: bolder;
}

.search-bar {
    height: 34px;
    display: flex;
    width: 100%;
    max-width: 450px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--button-bg);
    border-radius: 8px;
    /* font-family: var(--body-font); */
    font-size: 14px;
    font-weight: 500;
    padding: 0 40px 0 16px;
    box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 96%;
    color: var(--body-color);
}

.user-settings {
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex-shrink: 0;
    margin-left: auto;
    position: relative;
    /*  */
    gap: 0.5rem;
}

.user-settings .user-logo {
    display: flex;
    align-items: center;
}

.user-settings svg {
    /* width: 10px;
    flex-shrink: 0; */
    width: 30px;
    height: 30px;
    color: #18b2bb;
}


/* .user-settings .notify {
    position: relative;
}

.user-settings .notify svg {
    width: 20px;
    margin-left: 24px;
    flex-shrink: 0;
}
.user-settings .notify .notification {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ec5252;
    position: absolute;
    right: 1px;
    border: 1px solid var(--theme-bg);
    top: -2px;
}
 */


/* @media screen and (max-width: 575px) {
    .user-settings .notify .notification {
        display: none;
    }
} */

.user-settings .user-img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.user-settings .user-name {
    color: var(--body-color);
    font-size: 14px;
    margin: 0 6px;
}

@media screen and (max-width: 575px) {
    .user-settings .user-name {
        display: none;
    }
}