.toggle-dark .checkbox {
    opacity: 0;
    position: absolute;
}

.toggle-dark .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    /* height: 26px; */
    height: 26px;
    width: 40px;
}

.toggle-dark .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    /* height: 22px;
    width: 22px; */
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.toggle-dark .checkbox:checked+.label .ball {
    transform: translateX(14px);
    /* inner width of label  - width of ball - positon:left */
    /* transform: translateX(24px); */
}

.toggle-dark .fa-moon {
    color: #f1c40f;
}

.toggle-dark .fa-sun {
    color: #f39c12;
}