.profile-card {
    padding: 1rem 4rem;
    background: #2d2f40;
    margin: 0 6rem 0 4rem;
    position: relative;
    height: 100%;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10%;
    margin-left: auto;
}

.profile-action a {
    color: white;
}

.profile-action {
    width: 100px;
    background-color: rgba(39, 174, 95, 0.8);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 5px 5px;
}

.profile-card .location {
    display: flex;
    align-items: center;
}

.profile-action:hover,
.profile-action:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
    background-color: rgba(39, 174, 95, 1);
}

.profile-card .name>span {
    margin-right: 0.5rem;
}

.pic {
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    border-radius: 50%;
    animation: animated-gradient 2s linear infinite;
}

.pic img {
    display: block;
    --img: 250px;
    width: var(--img);
    aspect-ratio: 1/1 !important;
    border-radius: 50%;
}

.right {
    /* border: 2px solid green; */
    flex: 1;
    display: flex;
    gap: 0.5rem;
    font-size: 1.15rem;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.profile-card .name {
    color: #EEEDF0;
    font-size: 1.5rem;
    font-weight: 600;
}

.batches {
    display: flex;
    gap: 1rem;
}

.follow-stats span {
    margin-right: 1ch;
}

.follow-stats {
    display: flex;
    align-items: center;
}

.bio {
    padding: 2rem 0;
    text-align: center;
    word-wrap: break-word;
}

.numbers {
    display: flex;
    align-items: center;
    text-align: center;
}

.numbers .item {
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #CB69C1;
    font-weight: 500;
}

.numbers .item span {
    display: block;
    color: var(--special-text-color);
    font-size: 30px;
}

.border {
    width: 2px;
    height: 30px;
    /*   background: #bbb; */
    background: linear-gradient(130deg, #74b9ff, #e66767);
}

@keyframes animated-gradient {
    25% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: right top;
    }
    100% {
        background-position: left top;
    }
}

@media screen and (max-width:1200px) {
    .profile-card {
        margin: 0 2rem;
        padding: 1rem 3rem;
    }
    .pic img {
        --img: 200px;
    }
}

@media screen and (max-width:600px) {
    .profile-card {
        margin: 0 0.5rem;
        padding: 1rem 1rem;
    }
    .card-header {
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {
    .profile-card {
        margin: 0 0.5rem;
        padding: 1rem 0.25rem;
    }
    .card-header {
        flex-direction: column;
    }
    .profile-card .name {
        align-self: center;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .card-header {
        padding-bottom: 2rem;
        border-bottom: 2px solid green;
    }
    /* .right */
}