/* ///TODO style it */

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
}

.overflow-auto {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}