.login-comp {
    margin: 0 auto;
    /* box-sizing: border-box; */
    padding: 1rem 2rem;
    border: 2px solid green;
    width: 450px;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}

.logo-text {
    position: absolute;
    bottom: 27px;
    font-size: 2rem;
    color: blue;
    font-weight: bolder;
}

.logo-subtext {
    text-align: center;
    font-size: 1.5rem;
    ;
}

.auth-title {
    text-align: center;
}

.images {
    display: flex;
}

.middle {
    align-self: flex-start;
}

.upper {
    padding-bottom: 1rem;
    border-bottom: 2px solid grey;
    border-width: 80%;
    margin-bottom: 1rem;
}

.error {
    margin-top: 1rem;
    color: red;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(242, 222, 222);
    padding: 0.25rem;
}

form.auth-form>* {
    margin-top: 1rem;
}

.label {
    display: block;
}

.input-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

input {
    padding: 0.25rem 0.5rem;
    border: 2px solid rgb(185, 183, 183);
    border-radius: 5px;
    outline: none;
    width: 100%;
}

input:focus {
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.password-input {
    position: relative;
}

.password-input>span {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translatey(-45%);
    cursor: pointer;
}

.show-hide-password:after {
    position: absolute;
    content: ' ';
    left: 50%;
    top: 50%;
    transform: translate(-55%, -55%) rotate(-45deg);
    /* transform: rotate(-45deg); */
    width: 3px;
    height: 80%;
    background-color: #333;
}

button.auth-button {
    width: 100%;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.3rem;
}

.password-input {
    align-self: stretch;
}

.to-signup {
    text-align: center;
}

@media screen and (min-width:1000px) {
    .login-comp {
        position: absolute;
        right: 15%;
        top: 5%;
        /* bottom: 25%; */
    }
}

@media screen and (max-width:450px) {
    .login-comp {
        width: 90vw;
    }
}

@media screen and (max-width:370px) {
    .login-comp {
        /* width: 90vw; */
        padding: 1rem 0.5rem;
        width: 95vw;
    }
}

@media screen and (max-width:320px) {
    .login-comp {
        /* width: 90vw; */
        padding: 1rem 0.5rem;
        width: 100vw;
    }
}